// Import Bootstrap functions
@import "./node_modules/bootstrap/scss/functions";

// Import Bootstrap variables
@import "./node_modules/bootstrap/scss/variables";

$primary: #2b282f;
$secondary: #ffd9ef;
$success: #323355;
$info: #514b5a;
$light: #ad7ca8;
$dark: #494169;
$white: #fff1fd;
$enable-shadows: true;

// fonts
$font-family-base: 'Poppins';
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600; 
$headings-font-weight: 500;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "info": $info
));

html {
  height: 100%;
  // cursor: none;


}

.service-border {
  display: block;
  border: 2px solid $dark;
  border-radius: 10px;
  overflow: hidden;
}

.content_stretch {
  min-height: calc(100vh - 6rem);
}

body {
  // min-height: 110vh;
}

@media screen and (max-width: 575px) {
  .logo-pos {
    text-align: center;
  }
}

.mh {
  min-height: 21vh;
}

@media screen and (max-width: 575px) {
  .col-height-sm {
    height: 300px;
  }
}

.text-grow {
  display: block;
  flex: 1;
}

.hover-grow {
  transition: transform 0.15s ease-in;
  &:hover {
    transform: scale(1.02);
  }
}

.hover-colour {
  transition: color 0.1s ease-in;
  &:hover {
    color: $info !important;
  }
}

// .body-size {
//   max-height: 80vh;
// }

@import "./node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css"


