// Import Bootstrap functions
@import "./node_modules/bootstrap/scss/functions";

// Import Bootstrap variables
@import "./node_modules/bootstrap/scss/variables";

$primary: #2b282f;
$secondary: #3b363e;
$success: #006600;
$info: #c8b0b4;
$light: #f1d5d6;
$dark: #151417;
$white: #fcfbfb;
$enable-shadows: true;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "info": $info
));

html {
  height: 100%;
  // cursor: none;


}

body {
  overflow: auto;
  min-height: 130vh;
}

.content_stretch {
  min-height: calc(100vh - 6rem);
}

#cursor {
  background-color: white;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 50;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: top 0.05s, left 0.05s;
  transform: translate(-50%, -50%);
}

body {
  // min-height: 110vh;
}

.mh {
  min-height: 21vh;
}

@import "./node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css"


