---
import NavButton from "../components/NavButton.astro";
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <div slot="custom-header" class="banner">
        <div class="container h-100 d-flex flex-column justify-content-center">
            <h1 class="text-white w-50">About Us</h1>
            <h4 class="text-white w-50">What we do that makes us special</h4>
        </div>
    </div>
    
    <div class="row justify-content-center mb-3">
        <div class="col-11 col-lg-7">
            <p>At JY Support Services, we are a dedicated disability support provider committed to enriching the lives of individuals with disabilities. With a foundation rooted in compassion and inclusivity, our mission is to empower those we serve to achieve greater independence and fulfillment. 
            </p>

            <p>
            As a NDIS provider operating in Victoria, our team is driven by the belief that every individual deserves tailored and comprehensive support to navigate life's challenges. At the core of our values lies a commitment to fostering a positive, inclusive, and supportive environment where each person's unique abilities are celebrated. Through our services we strive to make a meaningful impact on the well-being and quality of life of those entrusted to our care.
            </p>
        </div>
    </div>

    <NavButton text="Our services" link="services">
</MainLayout>
