---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---


<ArticleLayout>
    <Fragment slot="title">Accommodation and Tenancy Support</Fragment>
    <Fragment slot="subtitle">Support right for you</Fragment>
    <Fragment slot="service-info">
        This service involves assisting participants in finding suitable accommodation and providing support to maintain their tenancy.
    </Fragment>
    <Fragment slot="help-list">
        <ul>
            <li>       Aid in the search for appropriate housing options.</li>
            <li>  Offer guidance on budgeting and financial management related to accommodation.</li>
            <li>     Provide ongoing support to maintain a secure and stable living environment.</li>
            <li>   Advocate for necessary accommodations or modifications.</li>
        </ul>
    </Fragment>
</ArticleLayout>