---
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout>
    <div class="row text-center m-2">
        <h1>Community Participation</h1>
    </div>
    <div class="row justify-content-center">
        <!-- <img class="col-lg-7 col-md-8 col-sm-10 mb-4" src="https://disabilityplanservices.com.au/wp-content/uploads/2020/05/NDIS-therapeutic-supports-scaled.jpeg" alt="disable child having fun"> -->
    </div>
    <div class="row justify-content-center m-2">
        <div class="col-lg-9 col-md-10 col-11">
        <p>Community participation services aim to enhance social inclusion and engagement in community activities, events, and recreational pursuits.</h3>
        
        <h3>How you can help</h3>
        <ul>
            <li>         Identify and facilitate participation in local community events.</li>
            <li>          Develop social skills and foster connections within the community.</li>
            <li>        Encourage involvement in recreational and leisure activities.</li>
            <li>         Tailor support to individual preferences and interests.            </li>
        </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-7 col-sm-5 col-lg-4">
            <a class="nav-link" href="./contact.html">
                <div class="bg-primary text-white p-3 mb-3 rounded text-center">
                    Contact Us
                </div>
            </a>
        </div>
    </div>
</MainLayout>