---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---


<ArticleLayout>
    <Fragment slot="title">Community Participation</Fragment>
    <Fragment slot="subtitle">Support right for you</Fragment>
    <Fragment slot="service-info">
        Community participation services aim to enhance social inclusion and engagement in community activities, events, and recreational pursuits.  
    </Fragment>
    <Fragment slot="help-list">
        <ul>
            <li>         Identify and facilitate participation in local community events.</li>
            <li>          Develop social skills and foster connections within the community.</li>
            
            <li>        Encourage involvement in recreational and leisure activities.</li>
            <li>         Tailor support to individual preferences and interests.            </li>
        </ul>
    </Fragment>
</ArticleLayout>