---
import NavButton from "../components/NavButton.astro";
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout>
    <div class="row text-center m-2">
        <h1>Community Participation</h1>
    </div>
    <div class="row justify-content-center">
        <!-- <img class="col-lg-7 col-md-8 col-sm-10 mb-4" src="https://disabilityplanservices.com.au/wp-content/uploads/2020/05/NDIS-therapeutic-supports-scaled.jpeg" alt="disable child having fun"> -->
    </div>
    <div class="row justify-content-center m-2">
        
        <div class="col-lg-9 col-md-10 col-11">
            <div class="row align-items-center">
                <div class="col">
                    <img class="shadow" src="https://disabilityplanservices.com.au/wp-content/uploads/2020/12/NDIS-support-coordination.jpg" width="100%">
                </div>
                <div class="col">
                    <p>Community participation services aim to enhance social inclusion and engagement in community activities, events, and recreational pursuits.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="row text-center">
                        <h3>How you can help</h3>
                    </div>
                    <ul>
                        <li>         Identify and facilitate participation in local community events.</li>
                        <li>          Develop social skills and foster connections within the community.</li>
                        
                        <li>        Encourage involvement in recreational and leisure activities.</li>
                        <li>         Tailor support to individual preferences and interests.            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <NavButton text="Contact Us" link="contact">
</MainLayout>