---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---


<ArticleLayout>
    <Fragment slot="title">Daily Living Supports</Fragment>
    <Fragment slot="subtitle">Support right for you</Fragment>
    <Fragment slot="service-info">
        Daily living supports encompass assistance with personal care, grooming, dressing, meal preparation, and household tasks to promote independence.    
    </Fragment>
    <Fragment slot="help-list">
        <ul>
            <li> Provide skilled and compassionate personal care services. </li>
            <li> Offer support with meal planning, preparation, and dietary requirements. </li>
            <li> Assist with daily tasks, enabling individuals to live comfortably and maintain their homes. </li>
            <li> Tailor services to the specific needs and preferences of each participant. </li>
        </ul>
    </Fragment>
</ArticleLayout>