---
import '../../public/global.css'
import NavButton from '../components/NavButton.astro';
import logo1 from '../../public/JY1.svg';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <div slot="custom-header" class="banner">
        <div class="container h-100 d-flex flex-column justify-content-center">
            <h1 class="text-white w-50">Get accredited NDIS Support</h1>
            <h4 class="text-white w-50">Empowering you to achieve</h4>
        </div>
    </div>
</MainLayout>