<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bs_css.css">

    <title>JY Support Services</title>
</head>
<body class="bg-light">
    
    <div class="content_stretch d-flex bg-secondary flex-grow-1 flex-column justify-content-center align-items-center">
        <h1 class="bg-light">JY</h1>
        <nav>

            <div class="bg-light"><a href="/services" class="nav-link"><h2>Services</h2></a></div>
            <div class="bg-light"><a href="/about" class="nav-link"><h2>About</h2></a></div>
            <div class="bg-light"><a href="/contact" class="nav-link"><h2>Contact</h2></a></div>
        </nav>

    </div>
</body>
</html>