---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---


<ArticleLayout>
    <Fragment slot="title">Plan Management</Fragment>
    <Fragment slot="subtitle">Support right for you</Fragment>
    <Fragment slot="service-info">
        Plan management involves assisting participants in managing their NDIS budgets, processing invoices, and tracking expenditure.
    </Fragment>
    <Fragment slot="help-list">
        <ul>
            <li>        Handle financial transactions and paperwork efficiently.</li>
            <li>         Provide regular updates on budget utilization and remaining funds.</li>
            <li>       Offer guidance on maximizing the benefits of the NDIS plan.</li>
            <li>         Streamline administrative tasks to alleviate stress for participants.</li>
        </ul>
    </Fragment>
</ArticleLayout>