---
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout>
    <div class="row text-center m-2">
        <h1>Plan Management</h1>
    </div>
    <div class="row justify-content-center">
        <!-- <img class="col-lg-7 col-md-8 col-sm-10 mb-4" src="https://disabilityplanservices.com.au/wp-content/uploads/2020/05/NDIS-therapeutic-supports-scaled.jpeg" alt="disable child having fun"> -->
    </div>
    <div class="row justify-content-center m-2">
        <div class="col-lg-9 col-md-10 col-11">
        <p> Plan management involves assisting participants in managing their NDIS budgets, processing invoices, and tracking expenditure.</p>
        
        <h3>How you can help</h3>
        <ul>
            <li>        Handle financial transactions and paperwork efficiently.</li>
            <li>         Provide regular updates on budget utilization and remaining funds.</li>
            <li>       Offer guidance on maximizing the benefits of the NDIS plan.</li>
            <li>         Streamline administrative tasks to alleviate stress for participants.</li>
        </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-7 col-sm-5 col-lg-4">
            <a class="nav-link" href="./contact.html">
                <div class="bg-primary text-white p-3 mb-3 rounded text-center">
                    Contact Us
                </div>
            </a>
        </div>
    </div>
</MainLayout>