---
import MainLayout from "../layouts/MainLayout.astro"
import ServiceButton from "../components/ServiceButton.astro";
---

<MainLayout>
    <div slot="custom-header" class="banner">
        <div class="container h-100 d-flex flex-column justify-content-center">
            <h1 class="text-white w-50">Our Services</h1>
            <h4 class="text-white w-50">What we can deliver for you</h4>
        </div>
    </div>

<div class="row d-flex flex-col justify-content-center mb-2">
    <div class="col-8 col-lg-5">
        <p>Our team of dedicated caretakers always aim to provide services that empower you to achieve your goals.</p>
    </div>
</div>
<div class="row justify-content-center g-3 mb-3">
    <ServiceButton text="Support Coordination" link="/support_coordination" imgLink="https://www.jarot.com.au/wp-content/uploads/2021/04/ndis-in-home-care-business-valuation.png"/>
    <ServiceButton text="Accommodation and Tenancy Supports" link="/accommodations" imgLink="https://beyondservices.com.au/wp-content/uploads/2021/12/NDIS9.jpg"/>
    <ServiceButton text="Community Participation" link="/community_participation" imgLink="https://www.ndis4kids.org.au/img/t35ed75b397f9e2158ce82e3cb9f2cfce.jpg?09"/>
    <ServiceButton text="Daily Living Supports" link="/daily_living_supports" imgLink="https://www.prestigeinhomecare.com.au/wp-content/uploads/2020/10/package.png"/>
    <ServiceButton text="Plan Management" link="/plan_management" imgLink="https://focuscare.com.au/img/containers/assets/istock-1301014539.jpg/ebd19e54defbccec52dd34f8a18c0a2b.jpg"/>
    <ServiceButton text="Transportation" link="/transportation" imgLink="https://www.homecareassistancesunshinecoast.com.au/wp-content/uploads/2023/07/NDIS-Domestic-Assistance-Sunshine-Coast-1080x675.jpeg"/>  
</div>
</MainLayout>