---
import MainLayout from "../layouts/MainLayout.astro"
import ServiceButton from "../components/ServiceButton.astro";
---

<MainLayout>
<div class="row text-center m-3">
    <h1>Our Services </h1>
</div>

<div class="row justify-content-center g-3 ">
    <ServiceButton text="Support Coordination" link="/support_coordination"/>
    <ServiceButton text="Accommodation and Tenancy Supports" link="/accommodations"/>
    <ServiceButton text="Community Participation" link="/community_participation"/>
    <ServiceButton text="Daily Living Supports" link="/daily_living_supports"/>
    <ServiceButton text="Plan Management" link="/plan_management"/>
    <ServiceButton text="Transportation" link="/transportation"/>  
</div>
</MainLayout>