---
import MainLayout from "../layouts/MainLayout.astro"
import ServiceButton from "../components/ServiceButton.astro";
---

<MainLayout>
<div class="row text-center m-3">
    <h1>Our Services </h1>
</div>

<div class="row justify-content-center g-3 mh-75">
    <ServiceButton text="Support Coordination" link="/support_coordination" imageLink="https://www.prestigeinhomecare.com.au/wp-content/uploads/2020/10/package.png"/>
    <ServiceButton text="Accommodation and Tenancy Supports" link="/accommodations" imageLink="https://www.prestigeinhomecare.com.au/wp-content/uploads/2020/10/package.png"/>
    <ServiceButton text="Community Participation" link="/community_participation" imageLink="https://www.prestigeinhomecare.com.au/wp-content/uploads/2020/10/package.png"/>
    <ServiceButton text="Daily Living Supports" link="/daily_living_supports" imageLink="https://www.prestigeinhomecare.com.au/wp-content/uploads/2020/10/package.png"/>
    <ServiceButton text="Plan Management" link="/plan_management" imageLink="https://www.prestigeinhomecare.com.au/wp-content/uploads/2020/10/package.png"/>
    <ServiceButton text="Transportation" link="/transportation" imageLink="https://www.prestigeinhomecare.com.au/wp-content/uploads/2020/10/package.png"/>  
</div>
</MainLayout>