---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---


<ArticleLayout>
    <Fragment slot="title">Support Coordination</Fragment>
    <Fragment slot="subtitle">Support right for you</Fragment>
    <Fragment slot="service-info">
        Support coordination involves helping participants navigate and implement their NDIS plans. This includes understanding the plan, connecting with service providers, and ensuring that the funded supports align with the participant's goals.
    </Fragment>
    <Fragment slot="help-list">
        <ul>
            <li>Provide clear explanations of the NDIS plan details.</li>
            <li>Facilitate communication between the participant and various service providers.</li>
            <li>Work collaboratively to implement and review the plan regularly.</li>
            <li>Advocate for the participant's needs within the NDIS framework.</li>
        </ul>
    </Fragment>
</ArticleLayout>