---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---


<ArticleLayout>
    <Fragment slot="title">Transportation</Fragment>
    <Fragment slot="subtitle">Support right for you</Fragment>
    <Fragment slot="service-info">
        Transportation services assist participants in accessing medical appointments, social activities, and community events, fostering independence and community engagement.
    </Fragment>
    <Fragment slot="help-list">
        <ul>
            <li> Offer reliable and accessible transportation services.</li>
            <li>  Coordinate schedules for medical appointments and community outings.</li>
            <li>Ensure a safe and comfortable travel experience.</li>
            <li>   Promote community integration by facilitating access to various events and activities.</li>
        </ul>
    </Fragment>
</ArticleLayout>