---
import NavButton from "../components/NavButton.astro";
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout>
    <div class="row text-center m-2">
        <h1>Transportation</h1>
    </div>
    <div class="row justify-content-center">
        <!-- <img class="col-lg-7 col-md-8 col-sm-10 mb-4" src="https://disabilityplanservices.com.au/wp-content/uploads/2020/05/NDIS-therapeutic-supports-scaled.jpeg" alt="disable child having fun"> -->
    </div>
    <div class="row justify-content-center m-2">
        <div class="col-lg-9 col-md-10 col-11">
        <p>Transportation services assist participants in accessing medical appointments, social activities, and community events, fostering independence and community engagement.</h3>
        
        <h3>How you can help</h3>
        <ul>
            <li> Offer reliable and accessible transportation services.</li>
            <li>  Coordinate schedules for medical appointments and community outings.</li>
            <li>Ensure a safe and comfortable travel experience.</li>
            <li>   Promote community integration by facilitating access to various events and activities.</li>
        </ul>
        </div>
    </div>

    <NavButton text="Contact Us" link="contact">
</MainLayout>