<div class="container-fluid bg-secondary shadow pt-4">
    <div class="container h-100">
        <div class="row">
            <div class="col">
                <div class="text-dark p-2">
                    <svg width="100" height="60" viewBox="0 15 100 60" class="mb-1">
                        <image xlink:href="public/JY2.svg" width="100" height="90"/>
                    </svg>
                    <p>Join us on our quest for a better future!</p>
                </div>
                <ul class="d-flex align-items-center list-unstyled">
                    <li><a href="https://www.facebook.com/" class="nav-link"><i class="bi bi-facebook h3 m-2 text-dark hover-colour"></i></a></li>
                    <li><a href="https://twitter.com/home?lang=en" class="nav-link"><i class="bi bi-twitter h3 m-2 text-dark hover-colour"></i></a></li>
                    <li><a href="https://www.instagram.com/" class="nav-link"><i class="bi bi-instagram h3 m-2 text-dark hover-colour"></i></a></li>
                </ul>
                <!-- <div class="text-white p-2 mb-1">
                    © JY Health 2023   
                </div> -->
                
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="row h-100">
                    <div class="col">
                        <div class="text-dark p-2">
                            <a href="/" class="nav-link hover-colour">Content Policy</a>
                        </div>
                        <div class="text-dark p-2">
                            <a href="/" class="nav-link hover-colour">Privacy Statement</a>
                        </div>
                        <div class="text-dark p-2">
                            <a href="/" class="nav-link hover-colour">Cancellation Policy</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-dark p-2">
                            <a href="/" class="nav-link hover-colour">Services</a>
                        </div>
                        <div class="text-dark p-2">
                            <a href="/" class="nav-link hover-colour">About</a>
                        </div>
                        <div class="text-dark p-2">
                            <a href="/" class="nav-link hover-colour">Home</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col border-top border-dark">
            <div class="text-dark p-2 mb-1">
                © JY Health 2023   
            </div>
        </div>
    </div>
</div>