<div class="container-fluid bg-secondary shadow pt-4">
    <div class="container h-100">
        <div class="row">
            <div class="col">
                <div class="text-white p-2">
                    <h4>Health</h4>
                    <p>Everyone has the right to support.</p>
                    <p>Join us on our quest for a better future!</p>
                </div>
                <ul class="d-flex align-items-center list-unstyled">
                    <li><a href="https://www.facebook.com/" class="nav-link"><i class="bi bi-facebook h3 m-2 text-white"></i></a></li>
                    <li><a href="https://twitter.com/home?lang=en" class="nav-link"><i class="bi bi-twitter h3 m-2 text-white"></i></a></li>
                    <li><a href="https://www.instagram.com/" class="nav-link"><i class="bi bi-instagram h3 m-2 text-white"></i></a></li>
                </ul>
                
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="row h-100">
                    <div class="col">
                        <div class="text-white p-2">
                            <a href="/" class="nav-link">Content Policy</a>
                        </div>
                        <div class="text-white p-2">
                            <a href="/" class="nav-link">Privacy Statement</a>
                        </div>
                        <div class="text-white p-2">
                            <a href="/" class="nav-link">Cancellation Policy</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-white p-2">
                            <a href="/" class="nav-link">Services</a>
                        </div>
                        <div class="text-white p-2">
                            <a href="/" class="nav-link">About</a>
                        </div>
                        <div class="text-white p-2">
                            <a href="/" class="nav-link">Home</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row align-items-center border-top border-white m-2 d-flex justify-content-between">
            <div class="col">
                <h2 class="text-white">JY</h2>
            </div>
            <div class="col text-white text-end">
                © JY Health 2023    
            </div>
        </div>
    </div>
</div>