<div class="container-fluid bg-primary shadow">
    <div class="container h-100">
        <div class="row">
            <div class="col">
                <div class="text-white p-2">
                    <a href="/" class="nav-link">Content Policy</a>
                </div>
                <div class="text-white p-2">
                    <a href="/" class="nav-link">Privacy Statement</a>
                </div>
                <div class="text-white p-2">
                    <a href="/" class="nav-link">Cancellation Policy</a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-4 ms-auto h-100 order-sm-1 d-flex align-items-center justify-content-center">
                <ul class="d-flex w-100 justify-content-around h-100 align-items-center list-unstyled">
                    <li><a href="https://www.facebook.com/" class="nav-link"><i class="bi bi-facebook h3 m-0 text-white"></i></a></li>
                    <li><a href="https://twitter.com/home?lang=en" class="nav-link"><i class="bi bi-twitter h3 m-0 text-white"></i></a></li>
                    <li><a href="https://www.instagram.com/" class="nav-link"><i class="bi bi-instagram h3 m-0 text-white"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class=" text-white p-2 m-2 border-top border-white">
                © JY Health 2023
                </div>
            </div>
            
        </div>
    </div>
</div>