<nav class="navbar navbar-dark navbar-expand-sm container-fluid bg-secondary pt-6 shadow">
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="row w-100">
            <div class="col col-sm-8">
                <a href="/" class="nav-link text-white logo-pos">
                    <svg width="100px" height="70px" viewBox="0 20 100 70">
                        <image xlink:href="public/JY1.svg" width="100" style="background: none;"/>
                    </svg>
                </a>
            </div>
            <nav class="justify-content-end text-center col col-sm-4 collapse navbar-collapse align-items-center" id="navElements">
                <div class="text-dark m-3"><a href="/services" class="nav-link hover-colour">Services</a></div>
                <div class="text-dark m-3"><a href="/about" class="nav-link hover-colour">About</a></div>
                <div class="text-dark m-3"><a href="/contact" class="nav-link hover-colour">Contact</a></div>
            </nav>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navElements" aria-expanded="false" aria-controls="navElements" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>