<nav class="navbar navbar-dark navbar-expand-sm container-fluid bg-primary pt-6 shadow">
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="row w-100">
            <div class="col col-sm-8 text-white h1 mb-0">
                JY Health
            </div>
            <nav class="justify-content-end text-center col col-sm-4 collapse navbar-collapse align-items-center" id="navElements">
                <a href="/about" class="p-2 nav-link text-white shadow">About</a>
                <a href="/contact" class="p-2 nav-link text-white">Contact</a>
                <a href="/services" class="p-2 nav-link text-white">Services</a>
            </nav>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navElements" aria-expanded="false" aria-controls="navElements" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>