---
interface Props {
    text: string,
    link: string,
    imgLink: string
}

const {text, link, imgLink} = Astro.props;
---

<div class="col-10 col-sm-5 col-md-5 cardheight d-flex flex-column hover-grow mb-1">
    <div class="service-border text-grow d-flex flex-column">
        <a href={link} class="nav-link text-grow d-flex flex-column">
            <img src={imgLink} style="width: 100%;"/>
            <div class="bg-secondary text-dark text-center shadow p-2 text-grow align-items-center">
                {text}
            </div>
        </a>
    </div>
</div>

