---
interface Props {
    text: string,
    link: string
}

const {text, link} = Astro.props;
---

<div class="col-10 col-sm-6 col-md-4 ">
    <img src="https://www.jarot.com.au/wp-content/uploads/2021/04/ndis-in-home-care-business-valuation.png" style="width: 100%;"/>
    <a href={link} class="nav-link">
        <div class="bg-secondary text-white p-4 p-sm-5 mb-3 h5 text-center shadow pe-auto">
            {text}
        </div>
    </a>
</div>

