---
interface Props {
    text: string,
    link: string
}

const {text, link} = Astro.props;
---

<div class="col-10 col-sm-6 col-md-4 cardheight d-flex flex-column">
    <img src="https://www.jarot.com.au/wp-content/uploads/2021/04/ndis-in-home-care-business-valuation.png" style="width: 100%;"/>
    <a href={link} class="nav-link text-grow d-flex flex-column">
        <div class="bg-secondary text-white h5 text-center shadow p-2 text-grow">
            {text}
        </div>
    </a>
</div>

