---
interface Props {
    text: string,
    link: string,
    imageLink: string
}

const {text, link, imageLink} = Astro.props;
---
<style>
    .card-image {
        height: 50%;
        /* overflow: hidden; */
    }

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mycard {
        box-sizing: border-box;
        height: 20vw;
    }

    .mycard-text {
        height: 50%;
    }
</style>
<div class="col-10 col-sm-6 col-lg-4 mycard">
    <div class="card-image">
        <img src={imageLink}/>
    </div>
    <div class="d-flex flex-column justify-content-center mycard-text">
        <a href={link} class="nav-link">
            <div class="bg-secondary text-white text-center shadow pe-auto mh">
                <h5>{text}</h5>
            </div>
        </a>
    </div>
</div>

